In [1]:
import os
import sys
sys.path.append(os.path.abspath('..')) # Add parent directory to path
import warnings
warnings.filterwarnings('ignore') # ignore warnings

In [106]:
from importlib import reload
from scripts import feature_and_prediction
reload(feature_and_prediction)
from scripts.feature_and_prediction import * # import all functions

In [107]:
# Locate the dataset
store = "../week 12 data/Data/rossmann-store-sales/store.csv"
train = "../week 12 data/Data/rossmann-store-sales/train.csv"
test = "../week 12 data/Data/rossmann-store-sales/test.csv"

In [108]:
# inistantiate the class
processor = SalesDataProcessor(train_path = train, test_path =test, store_path =store)

In [109]:
# load the data
processor.load_data()

2025-03-08 13:54:00,210 - INFO - Data loaded successfully!

In [110]:
# Merget the data
train_df, test_df = processor.merge_data()

2025-03-08 13:54:02,084 - INFO - Merging completed successfully!

##### Alter Train data

In [111]:
processor.check_missing_values(train_df)

,Column,Missing Values,Missing Percentage,Data Type
0,Store,0,0.000000,int64
1,DayOfWeek,0,0.000000,int64
2,Date,0,0.000000,datetime64[ns]
3,Sales,0,0.000000,int64
4,Open,0,0.000000,int64
5,Promo,0,0.000000,int64
6,StateHoliday,0,0.000000,object
7,SchoolHoliday,0,0.000000,int64
8,StoreType,0,0.000000,object
9,Assortment,0,0.000000,object
10,CompetitionDistance,2642,0.259730,float64
11,CompetitionOpenSinceMonth,323348,31.787764,float64
12,CompetitionOpenSinceYear,323348,31.787764,float64
13,Promo2,0,0.000000,int64
14,Promo2SinceWeek,508031,49.943620,float64
15,Promo2SinceYear,508031,49.943620,float64
16,PromoInterval,508031,49.943620,object

In [112]:
processor.drop_null_values(train_df)

2025-03-08 13:54:07,147 - INFO - Dropped 692883 rows.

In [113]:
processor.check_missing_values(train_df)

,Column,Missing Values,Missing Percentage,Data Type
0,Store,0,0.0,int64
1,DayOfWeek,0,0.0,int64
2,Date,0,0.0,datetime64[ns]
3,Sales,0,0.0,int64
4,Open,0,0.0,int64
5,Promo,0,0.0,int64
6,StateHoliday,0,0.0,object
7,SchoolHoliday,0,0.0,int64
8,StoreType,0,0.0,object
9,Assortment,0,0.0,object
10,CompetitionDistance,0,0.0,float64
11,CompetitionOpenSinceMonth,0,0.0,float64
12,CompetitionOpenSinceYear,0,0.0,float64
13,Promo2,0,0.0,int64
14,Promo2SinceWeek,0,0.0,float64
15,Promo2SinceYear,0,0.0,float64
16,PromoInterval,0,0.0,object

In [114]:
train_df.shape

(324326, 17)

##### Alter Test data

In [115]:
processor.check_missing_values(test_df)

,Column,Missing Values,Missing Percentage,Data Type
0,Id,0,0.000000,int64
1,Store,0,0.000000,int64
2,DayOfWeek,0,0.000000,int64
3,Date,0,0.000000,datetime64[ns]
4,Open,11,0.026772,float64
5,Promo,0,0.000000,int64
6,StateHoliday,0,0.000000,object
7,SchoolHoliday,0,0.000000,int64
8,StoreType,0,0.000000,object
9,Assortment,0,0.000000,object
10,CompetitionDistance,96,0.233645,float64
11,CompetitionOpenSinceMonth,15216,37.032710,float64
12,CompetitionOpenSinceYear,15216,37.032710,float64
13,Promo2,0,0.000000,int64
14,Promo2SinceWeek,17232,41.939252,float64
15,Promo2SinceYear,17232,41.939252,float64
16,PromoInterval,17232,41.939252,object

In [116]:
processor.drop_null_values(test_df)

2025-03-08 13:54:16,039 - INFO - Dropped 26256 rows.

In [117]:
processor.check_missing_values(test_df)

,Column,Missing Values,Missing Percentage,Data Type
0,Id,0,0.0,int64
1,Store,0,0.0,int64
2,DayOfWeek,0,0.0,int64
3,Date,0,0.0,datetime64[ns]
4,Open,0,0.0,float64
5,Promo,0,0.0,int64
6,StateHoliday,0,0.0,object
7,SchoolHoliday,0,0.0,int64
8,StoreType,0,0.0,object
9,Assortment,0,0.0,object
10,CompetitionDistance,0,0.0,float64
11,CompetitionOpenSinceMonth,0,0.0,float64
12,CompetitionOpenSinceYear,0,0.0,float64
13,Promo2,0,0.0,int64
14,Promo2SinceWeek,0,0.0,float64
15,Promo2SinceYear,0,0.0,float64
16,PromoInterval,0,0.0,object

In [123]:
test_df.shape

(14832, 24)

In [118]:
# Instantiate calsss
pipeline = SalesPredictionPipeline(train_df, test_df)

In [119]:
# preprocess data
X_train, X_val, y_train, y_val, X_test = pipeline.preprocess_data()

2025-03-08 13:54:27,538 - INFO - Extracting features for train and test datasets.

In [99]:
# train and evalute ML models
pipeline.train_models(X_train, X_val, y_train, y_val)

2025-03-08 12:45:38,867 - INFO - Training ML models...
2025-03-08 12:45:38,989 - INFO - Training RandomForest...
2025-03-08 12:49:32,647 - INFO - RandomForest - MAE: 564.4405392655627, MSE: 873443.4252252459
2025-03-08 12:49:32,647 - INFO - Training DecisionTree...
2025-03-08 12:49:35,944 - INFO - DecisionTree - MAE: 735.8590170505349, MSE: 1516656.646794931
2025-03-08 12:49:47,462 - INFO - Best ML model saved as best_ml_model_20250308_124935.pkl!
2025-03-08 12:49:48,293 - INFO -
Feature Importance:

2025-03-08 12:49:48,305 - INFO -                       Feature  Importance
2                        Open    0.503352
3                       Promo    0.092476
5         CompetitionDistance    0.080000
0                       Store    0.063294
7    CompetitionOpenSinceYear    0.041097
14                        Day    0.037224
9             Promo2SinceWeek    0.036339
6   CompetitionOpenSinceMonth    0.036267
13                      Month    0.031473
10            Promo2SinceYear    0.025872
1                   DayOfWeek    0.020526
11                    Weekday    0.020382
4               SchoolHoliday    0.004132
12                 Is_Weekend    0.002928
16               Is_Mid_Month    0.001830
15         Is_Beginning_Month    0.001556
17               Is_End_Month    0.001133
19    Days_After_Last_Holiday    0.000090
18       Days_To_Next_Holiday    0.000028
8                      Promo2    0.000000

In [100]:
# train and evalute LSTM
pipeline.train_lstm(X_train, X_val, y_train, y_val)

2025-03-08 12:52:07,058 - INFO - Training LSTM...
Epoch 1/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 155s 18ms/step - loss: 5325.7305 - val_loss: 5142.0327
Epoch 2/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 141s 17ms/step - loss: 5059.4043 - val_loss: 4877.5918
Epoch 3/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 140s 17ms/step - loss: 4787.9824 - val_loss: 4613.4692
Epoch 4/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 138s 17ms/step - loss: 4532.4790 - val_loss: 4351.1509
Epoch 5/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 140s 17ms/step - loss: 4265.3813 - val_loss: 4090.8950
Epoch 6/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 139s 17ms/step - loss: 4005.8916 - val_loss: 3836.6050
Epoch 7/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 141s 17ms/step - loss: 3759.6157 - val_loss: 3592.3096
Epoch 8/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 140s 17ms/step - loss: 3517.8225 - val_loss: 3364.8022
Epoch 9/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 138s 17ms/step - loss: 3303.5410 - val_loss: 3161.8860
Epoch 10/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 140s 17ms/step - loss: 3104.1577 - val_loss: 2991.4932
Epoch 11/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 141s 17ms/step - loss: 2944.9629 - val_loss: 2858.4912
Epoch 12/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 139s 17ms/step - loss: 2332.7031 - val_loss: 1945.8724
Epoch 13/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 140s 17ms/step - loss: 1909.6099 - val_loss: 1828.2419
Epoch 14/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 142s 18ms/step - loss: 1807.7135 - val_loss: 1754.5344
Epoch 15/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 143s 18ms/step - loss: 1744.4296 - val_loss: 1716.7384
Epoch 16/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 142s 17ms/step - loss: 1702.8148 - val_loss: 1783.3525
Epoch 17/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 142s 17ms/step - loss: 1756.4716 - val_loss: 1693.8799
Epoch 18/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 143s 18ms/step - loss: 1688.1226 - val_loss: 1691.3534
Epoch 19/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 142s 17ms/step - loss: 1705.4769 - val_loss: 1689.8820
Epoch 20/20
8109/8109 ━━━━━━━━━━━━━━━━━━━━ 140s 17ms/step - loss: 1692.9827 - val_loss: 1688.7535
2028/2028 ━━━━━━━━━━━━━━━━━━━━ 14s 7ms/step
2025-03-08 13:39:27,423 - INFO - LSTM - MAE: 1688.7525634765625, MSE: 6294441.0
2025-03-08 13:39:27,423 - WARNING - You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.
2025-03-08 13:39:27,506 - INFO - Best LSTM model saved as best_lstm_model_20250308_133927.h5!

In [101]:
# Load Model
modelpath='../notebooks/best_ml_model_20250308_124935.pkl'
pipeline.load_model('modelpath')

In [104]:
# Prediction
predictions = pipeline.predict(X_test)

2025-03-08 13:50:44,592 - INFO - Generating predictions...
464/464 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step

In [105]:
predictions

       ML_Model_Predictions  DL_Model_Predictions
0                   7831.82           6055.782227
1                   8255.94           6055.782227
2                   5662.51           6055.782227
3                   6656.03           6055.782227
4                   8191.32           6055.782227
...                     ...                   ...
14827               4879.53           6055.782227
14828               3089.89           6055.782227
14829               6413.60           6055.782227
14830               3710.90           6055.782227
14831               3177.49           6055.782227

[14832 rows x 2 columns]